@import '../scss/variable';

.container-fluid{
    .author{
        margin: 20px 10px;
        .author-img{
            min-height: 307px;
            border-radius: 5px;
            background-image: url('../../images/Inbio-Head-Image-2.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .infor{
            display: flex;
            align-items: center;
            flex-direction: column;
            letter-spacing: .5px;
            padding: 30px;
            h2{
                margin-bottom: 20px;
                color: $text-heading-color;
            }

            p{
                line-height: 30px;
                font-size: 15px;
                color: $text-color-2;
            }
        }
    }
}
